$white: #FFFFFF;
$whisper: #EEEEEE;
$romance: #ECEAE6;
$wild-sand: #EBE7DF;
$logo-color: #57C5A0;
$green: #57C5A0;
$gray-line: #CCCCCC;
$gray: #838383;
$gray-navigation: #ADADAD;
$gray-icon: #7D7D7D;
$night-rider: #2E2E2E;
$dark-gray: #383838;
$black: #242424;
$nero: #1C1C1C;
$merino: #DFDBD4;
$harp: #C4C5BF;
$tea: #BCB5A7;
$crusta: #F27E4B;